:root {
  --background: #fafaff;
  --foreground: #30343f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-monserrat); 
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato);
}